* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background: rgb(43, 81, 196);
}

.hero h1 {
    font-size: 50px;
}

.hero p {
    font-size: 25px;
    margin-top: 50px;
}